<div [ngClass]="{'colored' : colored}">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna
    aliqua. In tellus integer feugiat scelerisque varius morbi enim nunc. Volutpat est velit egestas dui id ornare
    arcu
    odio ut. Blandit volutpat maecenas volutpat blandit aliquam etiam. Auctor elit sed vulputate mi sit amet mauris
    commodo quis. Curabitur vitae nunc sed velit. Nascetur ridiculus mus mauris vitae ultricies leo integer malesuada.
    Venenatis lectus magna fringilla urna porttitor rhoncus. Malesuada nunc vel risus commodo viverra maecenas. Dictum
    at tempor commodo ullamcorper a lacus vestibulum sed arcu. Imperdiet sed euismod nisi porta lorem mollis aliquam
    ut.
    Placerat in egestas erat imperdiet sed.
  </p>
  <p>
    Gravida cum sociis natoque penatibus et magnis. Non sodales neque sodales ut etiam sit amet nisl purus. Risus
    feugiat in ante metus dictum at tempor. Nascetur ridiculus mus mauris vitae. Cursus vitae congue mauris rhoncus
    aenean vel. Lorem mollis aliquam ut porttitor leo. Gravida arcu ac tortor dignissim convallis aenean et tortor at.
    Et pharetra pharetra massa massa ultricies. Quam pellentesque nec nam aliquam sem et tortor consequat id. Sed odio
    morbi quis commodo odio aenean.
  </p>
  <p>
    Lectus arcu bibendum at varius vel. Vulputate odio ut enim blandit volutpat. Cursus turpis massa tincidunt dui ut
    ornare lectus. Proin fermentum leo vel orci porta non pulvinar. At tempor commodo ullamcorper a lacus vestibulum
    sed. Pellentesque pulvinar pellentesque habitant morbi tristique senectus. Sem nulla pharetra diam sit. Elementum
    nibh tellus molestie nunc non blandit massa enim nec. Eget egestas purus viverra accumsan. Nulla aliquet enim
    tortor
    at auctor urna nunc id. Sit amet volutpat consequat mauris nunc congue.
  </p>
</div>
